<?xml version="1.0"?>

<<robot name="traxxas_udr" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- WORLD CONSTANTS -->

  <xacro:property name="degrees_45" value="0.785398163"/>
  <xacro:property name="degrees_90" value="1.57079633"/>

  <!-- ROBOT CONSTANTS 
        Length -> x Axis
        Width ->  y Axis
        Height -> z Axis

        Length ->   meters (m)
        Weight ->   Kilograms (kg)
        Time ->     Seconds (s)
        Angle ->    Radian (use degrees_45 and degrees_90 for degree to radian conversion)
  -->

  <xacro:property name="chassis_length" value="0.258"/>
  <xacro:property name="chassis_width" value="0.168"/>
  <xacro:property name="chassis_height" value="0.01"/>

  <!-- Mass of the main vehicle (no electronics that were not included) 
        excluding wheels and batteries -->

  <xacro:property name="chassis_mass" value="2.788"/> 

  <xacro:property name="battery_width" value="0.047"/>
  <xacro:property name="battery_height" value="0.024"/>

  <!-- Mass of 1 battery -->

  <xacro:property name="battery_mass" value="0.5025"/>

  <!-- TODO
        FIND battery bottom front right corner distance from chassis bottom front right corner
  -->

  <xacro:property name="hub_dia" value="0.09652"/>
  <xacro:property name="tire_dia" value="0.14605"/>
  <xacro:property name="tire_width" value="0.0889"/>
  
  <xacro:property name="hex_hub_depth" value="0.01445"/> 
  
  <!-- Zero Offset wheel, hex_hub_depth = tire_width / 2 - axle_length -->


      <!-- Mass of 1 wheel (including tire) -->
    <xacro:property name="wheel_mass" value="0.29"/>

    <!-- hex_hub_dist is the distance between left and right hex hubs when
       the shock absorbers are fully extended. axle_length is the distance
       from a U joint to the corresponding hex hub. wheel_travel is the
       vertical wheel travel. -->
  <xacro:property name="wheelbase" value="0.335"/>
  <xacro:property name="hex_hub_dist" value="0.365"/>
  <xacro:property name="axle_length" value="0.03"/>
  <xacro:property name="wheel_travel" value="0.084"/>
  <xacro:property name="shock_z_offset" value="0.0655"/>

  <!-- shock_eff_limit is 2 * ((shock_stroke / 2) * shock_spring_constant) N.
       shock_stroke is 0.028575 meters. shock_spring_constant, an approximation
       of a Traxxas Ultra Shock shock absorber spring's constant, is
       437.817 N/m. -->

  <xacro:property name="shock_eff_limit" value="12.5106"/>
  <xacro:property name="shock_vel_limit" value="1000"/>

  <!-- The specifications for a Titan(R) 550 motor could not be found, so the
       stall torque of a Mabuchi Motor(R) RS-550VC-7525 motor was used instead.

       final_gear_ratio = 17.89
       stall_torque = 0.549 N m
       axle_eff_limit = ((2 * stall_torque) * final_gear_ratio) / 4 =
         4.9108 N m

       max_speed = 50 mph = 22.352 m/s
       axle_vel_limit = (2 * pi) * (max_speed / (pi * tire_dia)) =
        333.6119  rad/s -->

  <xacro:property name="axle_eff_limit" value="4.9108"/>
  <xacro:property name="axle_vel_limit" value="333.6119"/>    

  <xacro:property name="servo_stall_torque" value="0.5649"/>
  <xacro:property name="servo_no_load_speed" value="4.553"/> 

    <!-- ctrl_period is gazebo_ros_control's control period. Unit: hertz. -->
  <xacro:property name="ctrl_period" value="0.01"/> 

  <material name="battery_mat">
    <color rgba="0 0 1 1"/>
  </material>
  <material name="chassis_mat">
    <color rgba="0.5 0.5 0.5 1"/>
  </material>
  <material name="tire_mat">
    <color rgba="0 0 0 1"/>
  </material>

</robot>>